<% @team_number.times do %>
    
    <div class="row">
      <br/>
     <div class="col-md-4"> 
   <% rand_num = rand(1..1000) %>
    <% set_number = rand(1..4)  %>
    <% bg =rand(1..2)  %>
    
  <%   if set_number ==1  %>
    <%   set ="set1"  %>
    <%   elsif set_number ==2  %>
    <%    set ="set2"  %>
    <%     elsif set_number ==3  %>
    <%    set ="set3"  %>
   <%   else  %>
   <%     set = "set4" %>
   <%   end %>
     
   <%   if bg ==1 %>
   <%     background="bg1" %>
   <%   else %>
    <%    background="bg2" %>
   <%   end %>
     
       
      
        
    
    
  <%  set_number %>
  <%   avatar = Faker::Avatar.image(rand_num, "300x300", "bmp", set, background) %>
    
  
    
    <img src="<%= avatar %>" >
    
    </div>
    <div class="col-md-4"> 
 <h3> Your Superhero Name:<br/>
 <span class="red"> <%= Faker::Superhero.name %></span>
  
  </h3><br/>
  
  <h3>Your Superhero Power:<br/>
  <span class="red"> <%= Faker::Superhero.power %></span><br/><br/>
  </h3>
  
  <h4>Your Undercover Day Job is: <br/>
  <span class="corp_red"><%= Faker::Name.title %></span> <br/>
  </h4>
  
  <h4>Your Corporate Superpower is :<br/>
  <span class="corp_red"><%= Faker::Company.bs.titleize %></span>
  
  </h4>
  </div>
  <div class="col-md-4"> 
  
  </div>
  
  
  </div>
  <div class="row">
      <div class="col-md-12">
          
          <hr>
      </div>
      
  </div>
  
  <% end %>
  